/* || RESPONSIVE STYLES */

/* || DESKTOP : for sizes 950px and larger */
@media screen and (min-width: 950px){
  /* || Global Styles */
  .car-items-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .car-item:first-of-type {
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .car-item:last-of-type {
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .btn {
    margin-top: 2rem;
  }
  /* || Centering Main in Body */
  main {
    padding-top: 8rem;
  }
}
